:root {
    --primary-color: #2c3e50;
    --secondary-color: #7f8c8d;
    --accent-color: #1abc9c;
    --background-color: #ffffff;
    --white-color: #ffffff;
    --max-width: 1200px;
    --border-color: #bdc3c7;
    --transition-duration: 0.3s;
}

.wrapper {
    max-width: 1680px;
    margin: 0 auto;
}